body {
  font-family: $font-default;
  font-size: $font-size-default;
}

.logo {
  font-family: $font-logo;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.menu__food-title {
  font-family: $font-logo;
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 4px;
}

.menu__drink-title {
  font-family: $font-logo;
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.about__owner {
  font-family: $font-logo;
  font-size: 5rem;
}
