@mixin universal-styles {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@mixin absoluteCentering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/***** MEDIA QUERY MANAGER *****/

/*
[0 - 600px          Mobile phone - this is where our default styles apply]
600 - 900px         Tablet portrait
900 - 1200px        Tablet landscape
1200 - 1800px       Desktop computer
1800px +            Big desktop computer

$breakpoint argument choices:
- tablet-portrait
- tablet-landscape
- desktop
- desktop-big

1 em = 16px

min-width = minimum width at which a media query starts to apply
max-width = the maximum width at which a media query still applies

ORDER:
base & typography > general layout & grid > page layout > components
*/

@mixin respond($breakpoint) {
    @if $breakpoint == tablet-portrait {
        @media only screen and (min-width: 48em) { @content };  // 768px
    }

    @if $breakpoint == tablet-landscape {
        @media only screen and (min-width: 64em) { @content };    // 1024px
    }

    @if $breakpoint == desktop {
        @media only screen and (min-width: 75em) { @content };    // 1200px
    }

    @if $breakpoint == desktop-big {
        @media only screen and (min-width: 112.5em) { @content };    // 1800px
    }
}
