// COLOURS
$color-primary-light: #f5f5f5; // whitesmoke
$color-primary-dark: #333;

// FONT
$font-default: "Cairo", sans-serif;
$font-logo: "Shalimar", cursive;
$font-size-default: 1.6rem; /* 16px, used across the website */
