.about {
  &__owner {
    display: block;
  }

  &__list {
    list-style: none;
    text-align: left;
    margin-bottom: 2rem;
  }

  &__skills {
    @include respond(desktop) {
      width: 65%;
      margin: 0 auto;
    }
  }
}

ul > li {
  margin-left: 1.5rem;
}
