.total-price {
  font-family: Shalimar;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 2rem;
}

.date {
  font-family: inherit;
}

.option-yes {
  margin-right: 3rem;
}

.label-yes,
.label-no,
.checkbox-terms {
  margin-right: 0.5rem;
}
