.menu {
  margin-bottom: 5rem;

  &__heading {
    font-size: 2.3rem;
  }

  &__image {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 8px 4px 11px 1px rgba(51, 51, 51, 0.51);
  }

  &__item-quantity {
    padding: 0 2rem;
  }

  &__drink-item {
    display: flex;
    justify-content: space-between;
  }

  &__food {
    @include respond(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 80%;
      margin: 0 auto;
    }
  }

  &__drinks {
    @include respond(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 80%;
      margin: 0 auto;
    }
  }
}
