.basket {
  position: relative;

  &__size {
    color: $color-primary-light;
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5rem;
    padding: 0 0.6rem;
  }

  &__button-wrap {
    display: flex;
    justify-content: space-between;
  }
}
