.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  padding: 5px 1rem;
  letter-spacing: 3px;
  background-color: $color-primary-dark;
  color: $color-primary-light;
  width: 15rem;
  opacity: 85%;
  box-shadow: 8px 4px 11px 1px rgba(51, 51, 51, 0.51);
  transition: all 0.3s;

  &:hover {
    background-color: lighten($color-primary-dark, 12.5%);
  }
}

.menu__button {
  border-style: none;
  width: 1rem;
}

.form__button {
  border-style: none;
  width: 8rem;
}
