.form {
  margin: 0 auto 5rem;
  text-align: left;
  width: 85%;

  @include respond(desktop) {
    width: 50%;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.8rem;
    background-color: $color-primary-dark;
    opacity: 85%;
    color: $color-primary-light;
    border-radius: 1rem;
    border: none;
    box-shadow: 8px 4px 11px 1px rgba(51, 51, 51, 0.51);
  }

  &__textarea {
    font-family: inherit;
    height: 15rem;
  }

  &__button-wrap {
    display: flex;
    justify-content: flex-end;
  }
}
