.nav {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100%;
  background-color: $color-primary-dark;
  opacity: 85%;
  padding: 1rem;
  z-index: 2000;

  @include respond(desktop) {
    position: static;
    margin-bottom: 4rem;
    box-sizing: border-box;
  }

  &__text {
    display: none;

    @include respond(desktop) {
      display: inline;
      color: $color-primary-light;
    }
  }

  &__icon {
    @include respond(desktop) {
      display: none;
    }
  }

  &__links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    list-style-type: none;

    // @include respond(desktop) {
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   padding: 2rem;
    // }
  }

  &__link {
    color: $color-primary-light;
    text-decoration: none;
    font-size: 2.5rem;

    // @include respond(desktop) {
    // cursor: pointer;
    // letter-spacing: 4px;
    // text-decoration: none;
    // font-family: $font-logo;
    //   transition: 0.7s;
    //   border-bottom: 1px solid transparent;
    //   padding-bottom: 3px;
    // }

    //     &:hover {
    //       @include respond(desktop) {
    //         border-bottom: 1px solid $color-green;
    //       }
    //     }

    //     &:active {
    //       color: $color-green;
    //     }

    //     @include respond(desktop) {
    //       color: $color-green;
    //     }
  }

  //   &__link--current {
  //     text-decoration: none;
  //     color: $color-primary-light;
  //     font-size: 2.1rem;
  //     letter-spacing: 4px;
  //   }
}
